@{    ViewBag.Title = "Index";}


<section class="featured">
    <div class="content-wrapper">
        <p>
            Ready Player One Home.    
        </p>
        <p>
            Rules and regulations to be added later.    
        </p>
    </div>
</section>


