@{    ViewBag.Title = "Index";}


<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </hgroup>
        <p>
            Ready Player One leaderboard not yet availible.    
        </p>
    </div>
</section>

<<<<<<< HEAD
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Ready Player One leaderboard not yet availible.    
            </p>
        </div>
    </section>
=======
>>>>>>> 73d074d9e807360aab350d79ecf69001591c3056

