@{
    ViewBag.Title = "Resubmitted";
}

<h2>You have already completed this task.</h2>

<p>
    @Html.ActionLink("Go Back to Task Index", "Index") |
    @Html.ActionLink("Go to your Profile Page", "Details", "Users", new { id = WebSecurity.CurrentUserId }, null)
</p>
