@model ReadyPlayerSite.Models.AdminAction

@{
    ViewBag.Title = "Details";
}
<div class="contentbox">
    <div class="liquid_100">
        @Html.Partial("AdminActionDetailsPartial")
    </div>
</div>
